$black: #212124;
$gray: #585a5e;
$lightgray: #a9abb1;
$white: #e8eaed;
$blue: #0950cd;

$radius: 8px;

$shadow-dark: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
$shadow-light: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgba(177, 177, 177, 0.473);

$font: 'Montserrat', sans-serif;
